<app-navbar></app-navbar>
<div>
  <div class="container pt-3 text-center">
    <h2 class="pb-2">
      {{ option.title }}
    </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="" class="form-label">Nombre:</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          placeholder="Digite su nombre"
          aria-describedby="emailHelp"
          formControlName="name"
        />
        <div *ngIf="loginForm.get('name')?.touched && loginForm.get('name')?.errors?.['required']" class="alert alert-danger">
          Campo requerido
        </div>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Apellido:</label>
        <input
          type="text"
          name=""
          id=""
          class="form-control"
          placeholder="Digite su apellido"
          aria-describedby="emailHelp"
          formControlName="lastname"
        />
        <div *ngIf="loginForm.get('lastname')?.touched && loginForm.get('lastname')?.errors?.['required']" class="alert alert-danger">
          Campo requerido
        </div>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Fecha de nacimiento:</label>
        <input
          type="date"
          class="form-control"
          aria-describedby="emailHelp"
          formControlName="birth"
          name=""
          id=""
        />
        <div *ngIf="loginForm.get('birth')?.touched && loginForm.get('birth')?.errors?.['required']" class="alert alert-danger">
          Campo requerido
        </div>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Tarea:</label>
        <textarea
          class="form-control"
          name=""
          id=""
          rows="4"
          placeholder="Escribe la información de la tarea ........"
          formControlName="message"
        ></textarea>
        <div *ngIf="loginForm.get('message')?.touched && loginForm.get('message')?.errors?.['required']" class="alert alert-danger">
          Campo requerido
        </div>
      </div>
      <div class="mb-3 d-grid">
        <button class="btn {{ option.classBtn }} ">{{ option.button }}</button>
      </div>
    </form>

  </div>

</div>
