<div class="container">
  <div class="row">
    <h2 class="text-center mt-2">Lista de Tareas</h2>
    <div class="table-responsive mt-2">
      <table class="table table table-dark table-striped">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Mensaje</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listPeople">
            <!-- <th scope="row"> {{item.id}} </th> -->
            <td>{{ item.name }}</td>
            <td>{{ item.lastname }}</td>
            <td>{{ item.birth }}</td>
            <td>{{ item.message.substring(0, 50) }}</td>
            <td>
              <a
                name=""
                id=""
                class="btn btn-primary"
                [routerLink]="['/app/forms/'+item.id]"
                routerLinkActive="router-link-active"
                role="button"
                >Editar</a
              >
              <!-- <button
                (click)="onUpdate(item.id)"
                class="m-1 btn btn-warning"
                role="button"
              >
                Editar
              </button> -->
              <button
                (click)="onDelete(item.id)"
                class="m-1 btn btn-danger"
                role="button"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
